.add,
.edit {
  border-radius: 50%;
  align-items: center;
}

.s-icon {
  font-size: 5rem;
}
.s-text {
  font-size: 1rem;
  display: block;
}
.s-link {
  text-decoration: none;
  padding: 5px;
  display: block;
}
.s-link:hover {
  background-color: rgba(100, 132, 235, 0.534);
  border-radius: 20%;
  color: rgb(8, 55, 95);
  transition: 0.7s;
}
.s-link:not(:hover) {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.308);
  border-radius: 10%;
  transition: 1s;
}

.unR-box {
  background-color: rgb(0, 0, 0);
  max-width: 500px;
  max-height: 300px;
  margin: 30px auto 70px auto;
  border-radius: 15px;
}

.unR-icon {
  font-size: 3rem;
  color: rgb(194, 194, 194);
}
.unR-text {
  font-size: 1.2rem;
  color: rgb(194, 194, 194);
}

table {
  text-align: center;
}
th {
  vertical-align: middle;
  font-size: 1rem;
  font-weight: 100;
}

.exp-box {
  text-align: justify;
  max-height: 70px;
  min-width: 100px;
  overflow-y: scroll;
}
.table-box {
  margin: auto;
}
