.box {
  color: rgb(13 110 253);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 20px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.bg {
  min-width: 200px;
  padding: 50px;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.link {
  color: rgb(113, 185, 240);
  text-decoration: none;
}
